:root {
    --time-color: #838996;
    --light: #52565e;
    --primary: #36393f;
    --secondary: #2f3136;
    --tertiary: #202225;
    --dark: #181a1d;
    --text: #dcddde;
    --text-secondary: #b9bbbe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #E0E0E0;
}

.chat-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.chat-list {
    flex: 0 0 20%;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.chat-avatar {
    padding: 20px;
    background-color: var(--light);
    border-radius: 25px;
    max-width: max-content;
}

.chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 80%;

    background-color: var(--tertiary);
}

.message-form-background {
    background-color: var(--dark);
    padding: 15px 20px;
}

.message-form {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    border-radius: 8px;
    padding: 8px 10px;
    align-items: center;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    gap: 5px;
}

.message-input {
    flex: 1;
    background-color: var(--secondary);
    padding: 8px 12px;
    font-size: 15px;
    border: none;
    outline: none;
}

.message-submit {
    background-color: var(--secondary);
    font-size: 20px;
    padding-right: 10px;
    margin-left: 12px;
    cursor: pointer;
    border: none;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: var(--primary);
    max-width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.message-time {
    font-size: 12px;
    color: var(--time-color);
}

.active {
    background-color: var(--primary);
}

/* #2ECC71 */