<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
    <div class="auth-form">
        <h1>Регистрация</h1>
        <form id="register-form">
            <label>Никнейм</label>
            <input type="text" name="name">
            <label>Email</label>
            <input type="email" name="email">
            <label>Пароль</label>
            <input type="password" name="password">
            <button type="submit">Зарегестрироваться</button>
        </form>
        <a href="/auth/login">Войти</a>
        <div class="error-panel" id="error-panel"></div>
    </div>
    <script src="/static/js/register.js"></script>
</body>

</html>